services:
  backend:
    image: ${REGISTRY_HOST}/${REGISTRY_NAME}/backend:latest
    env_file: .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "8000:8000"

  frontend:
    image: ${REGISTRY_HOST}/${REGISTRY_NAME}/frontend:latest
    env_file: .env
    environment:
      BACKEND_URL: http://backend:8000
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
    depends_on:
      - backend
    ports:
      - "3000:3000"
